.Header-Text {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #0066CC;
	margin: 5px;
}
.Header-Text a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}
.Header-Text a:visited {
	text-decoration: none;
		color: #FFFFFF;
}
.Header-Text a:hover {
	text-decoration: underline;
	tect-decoration: bold;
		color: #FFFFFF;
}
.Header-Text a:active {
	text-decoration: none;
		color: #FFFFFF;
}

.Page-Title {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 18px;

}
.page-sub-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
}
.page-sub-tc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.cell-pad-5pt {
	padding: 5px;
}
.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.terms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.terms a:link {
	text-decoration: none;
}
.terms a:visited {
	text-decoration: none;
}
.terms a:hover {
	text-decoration: underline;
}
.terms a:active {
	text-decoration: none;
}
.body-table {
	background-color: #FFFFFF;
}
/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
	margin:0;
	padding: 3px 0;
	border-bottom: 1px solid #778;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #FFFFFF;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #0066FF; }
ul.tabbernav li a:visited { color: #0066FF; }

ul.tabbernav li a:hover
{
	color: #0033FF;
	background-color: #EEEEEE;
}

ul.tabbernav li.tabberactive a
{
	background-color: #0066CC;
	border-bottom: 1px solid #fff;
	color: #FFFFFF;
}

ul.tabbernav li.tabberactive a:hover
{
	color: #FFFFFF;
	border-bottom: 1px solid white;
	background-color: #0066FF;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
